body {
  text-align: center;
  background-color: #9c9a9a;
}

.App-header {
  background-color: #212529;
  padding: 25px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-ticker {
  font-size: medium;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.borderRow {
    border-style: groove;
}

input {
  margin-bottom: 5px;
}

#buttonSimular {
  margin-bottom: 10px;
}